@import "inc/bootstrap";

.previewer {
  position:relative;
  iframe {
    min-height: 400px;
    width: 100%;
  }
  .previewer-component {
    background-color: white;
    text-align: initial;
    .item-previewer-scope {
      height: calc(100vh - 250px);
      .action-bar,
      .test-sidebar  {
        display: none;
      }
    }
  }
  &.no-background {
    background: none;
  }
}

#item-editor-scope {
  [data-qti-class="_container"] {
    border: 1px solid whiten($info, .5);
  }
}

.wrap-left {
  margin: 0 20px 0 0;
}
.wrap-right {
  margin: 0 0 0 20px;
}