@import "inc/bootstrap";

.previewer {
  background-image: url(data:image/gif;base64,R0lGODlhKwALAPEAAN3d3TMzM4mJiTMzMyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAKwALAAACMoSOCMuW2diD88UKG95W88uF4DaGWFmhZid93pq+pwxnLUnXh8ou+sSz+T64oCAyTBUAACH5BAkKAAAALAAAAAArAAsAAAI9xI4IyyAPYWOxmoTHrHzzmGHe94xkmJifyqFKQ0pwLLgHa82xrekkDrIBZRQab1jyfY7KTtPimixiUsevAAAh+QQJCgAAACwAAAAAKwALAAACPYSOCMswD2FjqZpqW9xv4g8KE7d54XmMpNSgqLoOpgvC60xjNonnyc7p+VKamKw1zDCMR8rp8pksYlKorgAAIfkECQoAAAAsAAAAACsACwAAAkCEjgjLltnYmJS6Bxt+sfq5ZUyoNJ9HHlEqdCfFrqn7DrE2m7Wdj/2y45FkQ13t5itKdshFExC8YCLOEBX6AhQAADsAAAAAAAAAAAA=);
  background-position: center 50px;
  background-repeat: no-repeat;
  position:relative;
  iframe {
    min-height: 400px;
    width: 100%;
  }
  .previewer-component {
    background-color: white;
    text-align: initial;
    .item-previewer-scope {
      height: calc(100vh - 250px);
      .action-bar,
      .test-sidebar  {
        display: none;
      }
    }
  }
  &.no-background {
    background: none;
  }
}

#item-editor-scope {
  [data-qti-class="_container"] {
    border: 1px solid whiten($info, .5);
  }
}


